<h1> Product Page </h1>
    
<% @products.each_slice(3) do |three_product| %>
        
        <div class= "row" >

        <% three_product.each do |product| %>
    
      
            <div class="col-md-4">
        
                <div class="well">
          
                <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
          
                <h4><%= product.description %></h4>
          
                <h3>Price: <%= product.price %></h3>

                <a href="/products/<%= product.id %>" title="View Product" class= "thumbnail">
            
                <img src="<%= product.images.first.url %>" alt="###" class="img-responsive">
                </a>
          
                <button type="button" class="btn">Buy Now</button><a href= "/products/<%= product.id %>">
                
            </div>
        </div>
    <% end %>
   
   </div>
<% end %> 