  <section>
    <div class="row">    
      <div class="col-sm-6 col-sm-offset-2">
        <div class = "well" >  

          <h1>Product details</h1>

          <h2><%= @product.name %></h2> 
         
          <h4> Supplied by: <%= @product.supplier.supplier_name %></h4>

          <h3><%= @product.description %></h3>
        
          <p><%= @product.sale_message %></p>
        
          <h3>Price: <%= @product.price %></h3>
        
          <p>Tax: <%= @product.tax %></p>
      
          <h3>Total: <%= @product.total%></h3>

          <% @product.images.each do |image| %>
           <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
          <% end %> 

      
        <%= form_tag "/carted_products", method: :post do %>
        
        <div>Quantity <input type="text" name="quantity">

          <%= hidden_field_tag :product_id, @product.id %> 

       <!-- <input type="number" name= "product_id" value= "<%= @product.id %>"> -->
        <!--   <input type="number" name= "subtotal" value= "<%= @product.price %>">
        <input type="number" name= "tax" value= "<%= @product.tax %>"> 
        <input type="number" name= "total" value= "<%= @product.total %>"> -->
        </div>
       
        <input type="submit" value="Add to Cart">

        <% end %>

        <%= form_tag "/products/#{@product.id}", method: :delete do %> 
        <button type="button" class="btn btn-primary">Delete</button>
      <% end %>

    </div>
  </div>
</div>

 