<h1>Product details</h1>

    <h2><%= @product.name %></h2> 
      

      <h3><%= @product.description%></h3>
      <p><%= @product.sale_message %></p>
      
      <h3>Price: <%= @product.price%></h3>
      
      <p>Tax: <%= @product.tax%></p>
    
      <h3>Total: <%= @product.total%></h3>
    
      <img src="<%= @product.image %>" alt="" style="width: 400px;height: 400px;">

  <%= form_tag "/products/#{@product.id}", method: :delete do %> 
  
  <input type="submit" value="DELETE PRODUCT">

<%end%>
